/* #region Common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}


/* #endregion Common rules */

/* #region Utilities */



a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 1rem;
}

.btn {
    padding: 0.6rem 0.75rem;
    font-weight: 700;
    font-size: 0.75rem;
    border: none;
    border-radius: 1rem;
    background-color: #FFFFFF;
}

.btn:hover {
    cursor: pointer;
}

h2 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-top: 1.5rem;
}

p {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.background_white {
    background-color: #FFFFFF;
}

.background_grey {
    background-color: #F6F6F6;
}

.tx_center {
    text-align: center;
}


/* #endregion Utilities */

/* #region Griglia con Flexbox */
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);

}

.col-9 {
    width: calc((100% / 12) * 9);
}

/* #endregion Griglia con Flexbox */

/* #region Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar>[class^="col-"] {
    padding: 0.5rem;
}

.login {
    float: right;

}

header img {
    vertical-align: middle;
}


/* #endregion Header */

/* #region Main */


.banner {
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.banner_article {
    color: #FFFFFF;
    text-align: center;
    width: 60%;
    margin: auto;
}

.sub_section {
    padding: 3rem 0;
}

.stars {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1rem;
    font-weight: bold;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.btn_group * {
    margin: 0.2rem;
}

/* Botton main */

.download_for_mac {
    color: black;
    padding: 0.7rem 1.2rem;
    font-size: 0.95rem;
}

.purple {
    background-color: #7289DA;
    color: #FFFFFF;
}

.open_browser {
    background-color: #23272A;
    padding: 0.85rem 1.2rem;
    font-size: 0.95rem;
    color: #FFFFFF;

}

/* #endregion Main */

/* #region Footer */

footer {
    background-color: #23272A;
}

.footer_top {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid white;
    font-size: 0.75rem;
    color: #FFFFFF;

}

.text_purple {
    color: #7289DA;
    font-weight: bold;
}

#flag_italy {
    height: 1rem;
}

.choose_lenguage {
    margin: 1rem 0 1rem 0;
}

.choose_lenguage * {
    vertical-align: middle;
    margin: 0.2rem;
}

.social_link i {
    margin: 0.5rem;
    font-size: 1rem;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.list {
    padding: 1rem;

}

.list a {
    display: block;
}

/* #endregion Footer */
